button {
  color: inherit;
  border: 1px solid gray;
  border-radius: 5px;
  background: none;
  padding: 5px;
  cursor: pointer;
}

button + button {
  margin-left: 10px;
}

li {
  margin-bottom: 10px;
}

.selected {
  color: red;
}
